<div id="cms_main_section">
  <h5>CMS Main Section</h5>
  <%= raw(@page.content_for(:body)) %>
</div>
<div id="cms_side_section">
  <h5>CMS Side Section</h5>
  <%= raw(@page.content_for(:side_body)) %>
</div>